nav{
    color: #cccccc;
    background-color: #24292e;
    top:0;
    position: fixed;
    width: 100%;
    max-width:200% ;
    height: 4vh;
    z-index: -1;
}

.noob{
    position: absolute;
    height: 4vh;
    top: 0;
    left: 0;
}

.bar-text{
    position: absolute;
    /*去除超链接下划线*/
    text-decoration: none;
    top: 1vh;
    height: 4vh;
    font-size: 2vh;
    margin: 0 auto;
}

.bar-search{
    position: absolute;
    right: 0;
    top: 0;
    height: 4vh;
}

.bar-font{
    position: absolute;
    top: 20%;
    height: 2vh;
    font-size: 2vh;
    left: 2%;
    color: white;
}

*{
    margin: 0;
}