.bar{
    color: #000000;
    background-color: #ccc;
    top:0;
    position: fixed;
    width: 100%;
    max-width:200% ;
    height: 4vh;
    z-index: -1;
}

.noob{
    position:absolute;
    height: 4vh;
    top: 0;
    left: 0;
}

.bar-text{
    position: absolute;
    /*去除超链接下划线*/
    text-decoration: none;
    top: 0;
    height: 4vh;
    font-size: 3vh;
    left: 10%;
}