/*a:link指未被访问的链接*/
a:link{
    text-decoration: none;
    color: black;
}
/*a:active指鼠标正在点的链接*/
a:active{
    text-decoration: blue;
}
a:hover{
    color: red;
    background-color: #eee;
}
/*a:visited指已经访问过的链接*/
a:visited{
    text-decoration: underline;
    color: black;
}

nav{
    width: 300px;
    height: 350px;
    background-color: #24252e;
    border-radius: 15px;
    color: #fff;
}

ul{
    list-style: none;
    line-height: 40px;
}

ul li{
    margin: 15px 15px 15px 15px;
    padding: 3px;
}

a {
	text-decoration: none;
	padding: 0 20px;
	color: #fff;
    display: block;
    transition:all 1s ease;
}
/*二级菜单默认不显示*/
ul li ul li {
	float: left;
    display: none;
    background-color: #24252e;
}
/*当鼠标经过时二级菜单显示*/
ul li:hover li {
    display: block
}
/*设置文件颜色*/
ul li a dfn{
    color:#fff;
}
ul li ul li a dfn{
    color:#fff;
}
/*设置滑动时显示的颜色*/
ul li a:hover dfn{
    color: red;
}

ul li ul li a:hover dfn{
    color: red;
    background-color: #eee;
}

ul li ul{
    float: left;
}

#hhh{
    transition:all 3s ease 0s;
    height: 10px;
    width: 224px;
    background-color: #24252e;
    display: none;
}
#ggg:hover #hhh{
    width: 224px;
    height: 100px;
    display: block;
    background-color: #24252e;
    border-radius: 10px;
    transition-duration: 3s;
    transition-property: all;
    transition-timing-function: ease;
    transition-delay: 0s;
}
