body{
    background-image: url('https://www.tomorrow.wiki/api-bingpicture');
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}