
/*24292e*/
section{
    height: 100%;
    margin: 4vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftbar{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    background-color: #ccc;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cent{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding:10px;
    border: 2px solid #24292e;
    width:600px;
    border-radius: 15px;
}

.title{
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}
/*设计左侧菜单栏*/
aside{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*友情链接外部网站*/
.weblink{
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid #24292e;
    border-radius: 15px;
    width: 400px;
}

/*内嵌google搜索(自行翻墙)*/
.searchgoogle{
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid #24292e;
    border-radius: 15px;
    width: 400px;
}
/*对google图标大小进行设置*/
.google{
    height: 25px;
    margin: 5px auto;
}

/*对图片大小进行调整*/
.img{
    padding: 10px;
    max-height: 30px;
    max-width: 30px;
}

.InputAddOn {
    display: flex;
}
  
.InputAddOn-field {
    flex: 1;
    border-radius: 15px 0 0 15px;
}

.InputAddOn-item{
    flex: 1;
    border-radius: 0 15px 15px 0;
}

span{
    height: 10px;
}

#bing{
    display: flex;
    height: 960px;
}

footer{
    height:300px;
}

#l{
    position: absolute;
    top: 850px;
    left: 1500px;
    background-color: #24292e;
    border-radius: 15px;
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

/*这里是老师要求的设置时间*/
#time{
    color: #fff;
}
#s{
    text-align: center;
}

#barLink{
    
}

/*以下代码是跑马灯*/
#div1{
    width: 180px;
    margin: auto;
    border: 1px solid #24292e;
    overflow: hidden;   /*必须设置该属性*/
}

.child{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}
/*天气预报格式设置*/
.weather{
    margin: 10px;
}

.box{
    position:fixed;
    right:10px;
    bottom: 10px;
    height:30px;
    width: 50px;    
    text-align:center;
    padding-top:20px;    
    background-color: lightblue;
    border-radius: 20%;
    overflow: hidden;
}
.box:hover:before{
    top:50%
}
.box:hover .box-in{
    visibility: hidden;
}
.box:before{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content:'回到顶部';
    width: 40px;
    color:peru;
    font-weight:bold;

}    
.box-in{
    visibility: visible;
    display:inline-block;
    height:20px;
    width: 20px;
    border: 3px solid black;
    border-color: white transparent transparent white;
    transform:rotate(45deg);
}